<section class="bg-light-gray">
  <div class="container">
    <h3 class="heading">Featured Equipment</h3>
    <div class="row featured same-height-row">
      <div class="col-md-4">
        <div class="box-image-text bg-visible same-height" style="height: 445px;"> 
          <div class="top"><a href="#">
              <div class="image"><img src="../../assets/images/Excavators1.jpg" alt="" class="img-responsive"></div>
              <div class="bg"></div></a></div>
          <div class="content">
            <h5><a href="#">Excavators1</a></h5>
            <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="label featured__label label-success">Full Time</span></p>
            <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-image-text bg-visible same-height" style="height: 445px;"> 
          <div class="top"><a href="#">
              <div class="image"><img src="../../assets/images/Excavators2.jpg" alt="" class="img-responsive"></div>
              <div class="bg"></div></a></div>
          <div class="content">
            <h5><a href="#">Excavators2</a></h5>
            <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>Palo Alto<span class="label featured__label label-success">Full Time</span></p>
            <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-image-text bg-visible same-height" style="height: 445px;"> 
          <div class="top"><a href="#">
              <div class="image"><img src="../../assets/images/ErieBshovel.jpg" alt="" class="img-responsive"></div>
              <div class="bg"></div></a></div>
          <div class="content">
            <h5><a href="http://jobs.ondrejsvestka.cz/1-2-1/detail.html">ErieBshovel</a></h5>
            <p class="featured__details">  <i class="fa fa-map-marker job__location"></i>San Francisco<span class="label featured__label label-default">Part Time</span></p>
            <p>Fifth abundantly made Give sixth hath. Cattle creature i be dont them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center margin-top"><a href="#" class="btn btn-ghost">See more jobs</a></div>
  </div>
</section>